<div id ="article">
<ol class="list-group">
    {{#each object}}
    <li class="title" id="{{_id}}">{{title}}<br>
        <a href="{{link}}" target="_blank" class="link"/><button class="link">Read</button></a><button class="note" data-id="{{_id}}">Read a Note</button><br>
        <button class="unsave" data-id="{{_id}}">Unsave</button><button class="note" data-id="{{_id}}">Leave a Note</button>
    </li>
    {{/each}}
</ol>
</div>


<!--MODAL CONTENT-->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
          {{this.title}}
        <textarea>

        </textarea>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default buttonSave" data-id="{{this._id}}" data-dismiss="modal">SAVE</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="readModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default buttonSave" data-id="{{this._id}}" data-dismiss="modal">SAVE</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>